{% extends "base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

    <main id="content" role="main">
    <!-- Login Form -->
    <div class="container space-2 space-lg-3">
        <h1>{% if token_fail %}{% trans "Bad Token" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}

          <form class="js-validate w-md-75 w-lg-50 mx-md-auto" method="POST" action="{{ action_url }}">
              {% csrf_token %}
            <!-- Title -->
            <div class="mb-5 mb-md-7">
              <h1 class="h2 mb-0">Reset password</h1>
            </div>
            <!-- End Title -->

            <!-- Form Group -->
            <div class="js-form-message form-group">
              <label class="input-label" for="id_password1">New password</label>
                {{ form.password1|attr:"type:password"|add_class:"form-control"|attr:"required"|attr:"name:password1"|attr:"id:id_password1"|attr:"placeholder:password"|attr:"aria-label:password"|attr:"data-msg:Please enter a valid password." }}
            </div>
            <!-- End Form Group -->

              <!-- Form Group -->
            <div class="js-form-message form-group">
              <label class="input-label" for="id_password2">Confirm password</label>
                {{ form.password2|attr:"type:password"|add_class:"form-control"|attr:"required"|attr:"name:password2"|attr:"id:id_password2"|attr:"placeholder:confirm password"|attr:"aria-label:confirm password"|attr:"data-msg:Please enter a valid password." }}
            </div>
            <!-- End Form Group -->


          <!-- Button -->
          <div class="text-sm-right right-align">
            <button type="submit" class="btn btn-primary transition-3d-hover">{% trans 'Reset Password' %}</button>
          </div>
         <!-- End Button -->

          </form>
    {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}
